name: Release Publish
on:
  pull_request:
    types:
      - closed
    branches:
      - main
    paths:
      - 'Relazione/**'
      - 'Relazione'

jobs:
  build:
    name: Creo la Release
    if: github.event.pull_request.merged == true
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Creo la zip Release
      uses: thedoctor0/zip-release@0.7.1
      with:
        type: 'zip'
        path: 'Relazione/*'
        filename: 'release.zip'
        exclusions: '*.git* README.md .editorconfig'
    - name: Download della preview
      uses: actions/download-artifact@v3
      id: download ${{steps.download.outputs.download-path}}
      with:
        name: Preview
    - name: Download Path
      run: echo 
    - name: Upload Release
      uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        prerelease: false
        automatic_release_tag: "latest"
        title: "Release Relazione"
        files: |
          *.zip
          *.pdf
